In [1]:
mylist = [1,2,3]

In [2]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [5]:
def say_hello():
    print('hello')
    print('world')

In [6]:
say_hello()

hello
world

In [11]:
def say_hello(name):
    print(f'Hello {name}')

In [13]:
say_hello("Amanda")

Hello Amanda

In [17]:
def ask_age(age='12'):
    print(f"Age {age}")

In [18]:
ask_age()

Age 12

In [19]:
def add_num(num1, num2):
    return num1+num2

In [22]:
result = add_num(10,20)
result

30

In [23]:
def print_result(a,b):
    print(a+b)

In [24]:
def return_result(a,b):
    return a+b

In [26]:
result = print_result(10,20)

30

In [27]:
result

In [28]:
return_result(10,20)

30

In [29]:
result= return_result(10,20)
result

30

In [30]:
def sum_numbers(num1, num2):
    return num1+num2

In [31]:
sum_numbers(10,20)

30

In [32]:
sum_numbers('10', '20')

'1020'

In [1]:
2 % 2

0

In [2]:
3 % 2

1

In [3]:
20 % 2 == 0

True

In [4]:
def check_even(number):
    result = number % 2 == 0
    return result

In [5]:
check_even(20)

True

In [6]:
check_even(31)

False

In [14]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST
def check_even_list(num_list):
    # return all the even numbers in a list
    even_number = [] # placeholder
    for number in num_list:
        if number % 2 == 0:
            even_number.append(number)
        else:
            pass # do nothing
    return even_number

In [15]:
check_even_list([1,3,5])

[]

In [16]:
check_even_list([2,4,7])

[2, 4]

In [17]:
check_even_list([1,3,8])

[8]

# Tuples

In [18]:
stock_prices = [('APPL', 200),('GOOG',400),('MSFT',100)]

In [19]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [21]:
for ticker, price in stock_prices:
    print(price + (0.1 * price))

220.0
440.0
110.0

In [26]:
work_hours = [('Abby', 40), ('Billy', 36), ('Cathy', 58)]

In [23]:
def employee_max_hours(work_hours):
    current_max = 0
    employee_of_the_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    # return
    return (employee_of_month,current_max)

In [27]:
employee_max_hours(work_hours)

('Cathy', 58)

In [28]:
name, hours = employee_max_hours(work_hours)

In [29]:
name

'Cathy'

In [30]:
hours

58

# Interactions of function

In [32]:
example = [1,2,3,4,5,6,7]

from random import shuffle

shuffle(example)

example

[5, 4, 7, 2, 6, 3, 1]

In [33]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [35]:
result = shuffle_list(example)
result

[3, 7, 1, 6, 2, 4, 5]

In [38]:
mylist = [' ', '0',' ']
shuffle_list(mylist)

[' ', ' ', '0']

In [42]:
def player_guess():
    guess=''
    
    while guess not in ['0', '1', '2']:
        guess = input("Pick a number: 0, 1, or 2: ")
    return int(guess)

In [43]:
player_guess()

Pick a number: 0, 1, or 2: 6
Pick a number: 0, 1, or 2: 1

1

In [44]:
myindex = player_guess()

Pick a number: 0, 1, or 2: 2

In [45]:
def check_guess(mylist, guess):
    if mylist[guess] == '0':
        print("Correct")
    else:
        print("Wrong Guess")
        print(mylist)

In [49]:
# INTIAL LIST
mylist = [' ', '0', ' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list, guess)

Pick a number: 0, 1, or 2: 1
Wrong Guess
['0', ' ', ' ']

In [4]:
def myfunc(a,b, c=0, d=0,e=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [5]:
myfunc(40,60, 100,100,3)

15.15

In [6]:
def myfunc(*args): # will treat parameter as a tuple
    return sum(args) * 0.05

In [7]:
myfunc(40,50,60,100,1,34)

14.25

In [1]:
def myfunc(*args):
    for item in args:
        print(item)

In [2]:
myfunc(40,50,60,100,1,34)

40
50
60
100
1
34

In [8]:
def myfunc(**kwargs): # key word arguements
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit is choice is {}'.format(kwargs['fruit']))
    else:
        print('I did no find any fuirt here')

In [9]:
myfunc( fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit is choice is apple

In [13]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [14]:
myfunc(10,20,30, fruit='orange', food='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

# Map & Filter

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [13]:
names = ['Andy', 'Beck', 'Candy']

In [8]:
list(map(splicer,names))

['Even', 'Even', 'C']

In [9]:
def check_even(num):
    return num % 2 == 0

In [9]:
mynums = [1,2,3,4,5,6]

In [11]:
list(filter(check_even, mynums))

[2, 4, 6]

In [5]:
square = lambda num: num ** 2

In [7]:
square(5)

25

In [10]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [11]:
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [14]:
names

['Andy', 'Beck', 'Candy']

In [16]:
list(map(lambda name: name[::-1],names))

['ydnA', 'kceB', 'ydnaC']

# Nested and Scope

In [17]:
x = 25

def printer():
    x = 50
    return x

In [18]:
print(x)

25

In [19]:
print(printer())

50

In [1]:
lambda num:num**2

In [9]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    # ENCLOSING
    name = 'Amanda'
    
    def hello():
        # LOCAL
        name = 'IM A LOCAL'
        print ('Hello ' + name)
        
    hello()
greet()

Hello IM A LOCAL

In [8]:
greet()

Hello Amanda

In [12]:
x = 50 

def func(x):
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGE X TO {x}')

In [13]:
func(x)

X is 50
I JUST LOCALLY CHANGE X TO 200

In [16]:
x = 50 

def func():
    global x # dangerous
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [17]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [18]:
print(x)

NEW VALUE