In [1]:
if True:
    print('ITS TRUE')

ITS TRUE

In [3]:
if 3 > 2:
    print('ITS TRUE')

ITS TRUE

In [5]:
hungry = False

if hungry:
    print("FEED ME")
else:
    print("Im not hungry")

Im not hungry

In [6]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Grocery':
    print("Food is neat")
else:
    print("I do not know much")

Money is cool!

In [7]:
name = "Sammy"

if name == "Frankie":
    print("Hello Frankie!")
elif name == "Sammy":
    print("Hello Sammy")
else:
    print("What is your name")

Hello Sammy

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [10]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [12]:
for num in mylist:
    # Check for evens
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [14]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
for _ in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [17]:
tup = (1,2,3)
    
for item in tup:
    print(item)

1
2
3

In [18]:
myList = [(1,2), (3,4), (5,6), (7,8)]

len(myList)

4

In [19]:
for item in myList:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [20]:
for a,b in myList:
    print(a)
    print(b) # Tuple impacting

1
2
3
4
5
6
7
8

In [21]:
myList = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in myList:
    print(b)

2
5
8

In [22]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [23]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for key,value in d.items():
    print(value)

1
2
3

In [7]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

# breaks, continue, pass

In [1]:
x = [1,2,3]

for item in x:
    pass # do nothing

print('end of my script')

end of my script

In [3]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [4]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [6]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

# useful operators

In [7]:
mylist = [1,2,3]

In [10]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [11]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [15]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d
At index 0 the letter is e

In [19]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [24]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [27]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [28]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [1]:
'x' in [1,2,3]

False

In [2]:
'x' in ['x', 'y', 'z']

True

In [3]:
'a' in 'a world'

True

In [4]:
'mykey' in {'mykey': 345}

True

In [7]:
d = {'mykey': 345}

345 in d.keys()
345 in d.values()

True

In [8]:
mylist = [10,20,30,40,50]

min(mylist)

10

In [9]:
max(mylist)

50

In [13]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9]

shuffle(mylist)
mylist

[2, 1, 7, 8, 3, 6, 4, 9, 5]

In [16]:
from random import randint

randint(0, 100)

91

In [17]:
mynum = randint(0, 10)
mynum

1

result = input('What is your name?')

In [20]:
result

'Amanda'

In [21]:
result = input('Fav number?')

Fav number?18

In [22]:
type(result)

str

In [23]:
float(result)

18.0

In [24]:
int(result)

18

In [25]:
result = int(input('Age?'))

Age?22

# list comprehesions

In [26]:
myString = 'hello'

In [27]:
mylist = []

for letter in myString:
    mylist.append(letter)

In [28]:
mylist

['h', 'e', 'l', 'l', 'o']

In [30]:
mylist = [letter for letter in myString]

mylist

['h', 'e', 'l', 'l', 'o']

In [31]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [32]:
mylist = [ num for num in range(0, 11)]

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
mylist = [ num**2 for num in range(0, 11)]

mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
mylist = [x for x in range(0,11) if x%2==0]

In [35]:
mylist

[0, 2, 4, 6, 8, 10]

In [36]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [38]:
celcius = [0, 10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [41]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append( (9/5)*temp + 32)

celcius

[0, 10, 20, 34.5]

In [43]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [44]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [45]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [46]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]